<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{/layout/basic :: setContent(~{this::content})}">
    <th:block th:fragment="content">
        <h1 class="mt-4">영화 등록 페이지</h1>

        <!-- submit실행 시 수행되는 form (data를 가지고 moive/register url에 POST 요청을 보내게 된다.       -->
        <form th:action="@{/movie/register}" th:method="post">
            <div class="form-group">
                <label>영화 제목</label>
                <input type="text" class="form-control" name="title" placeholder="영화 제목을 입력하세요.">
            </div>

            <div class="form-group">
                <label>영화 개봉일</label>
                <input type="text" class="form-control" name="openDate" placeholder="yyyyMMdd 형태로 입력해주세요. 예) 20210101">
            </div>

            <div class="form-group">
                <label>국가</label>
                <input type="text" class="form-control" name="country" placeholder="국가를 입력하세요.">
            </div>

            <div class="form-group">
                <label>등급</label>
                <input type="text" class="form-control" name="rating" placeholder="등급을 입력하세요.">
            </div>

            <div class="form-group">
                <label>러닝 타임</label>
                <input type="text" class="form-control" name="runningTime" placeholder="러닝타임을 입력하세요.">
            </div>

            <div class="form-group fileForm">
                <label>영화 이미지 파일</label>
                <div class="custom-file">
                    <input type="file" class="custom-file-input files" id="fileInput" multiple placeholder="이미지를 선택하세요.">
                    <label class="custom-file-label" data-browse="Browse"></label>
                </div>
            </div>

            <div class="box">
            <!-- 전송을 위한 input hidden의 값이 들어갈 위치 지정                -->
            </div>
            <!-- upload image의 스타일 생성              -->
            <style>
                .uploadResult {
                    width: 100%;
                    background-color: gray;
                    margin-top: 10px;
                }

                .uploadResult ul {
                    display: flex;
                    flex-flow: row;
                    justify-content: center;
                    align-items: center;
                    vertical-align: top;
                    overflow: auto;
                }

                .uploadResult ul li {
                    list-style: none;
                    padding: 10px;
                    margin-left: 2em;
                }

                .uploadResult ul li img {
                    width: 100px;
                }
            </style>

            <div class="uploadResult">
                <ul>
                    <!--                    이미지 업로드 결과 화면 출력 장소-->
                </ul>
            </div>

            <button type="submit" class="btn btn-primary">등록하기</button>
        </form>

        <script>
            $(document).ready(function (e) {
                var regex = new RegExp("(.*?)\.(exe|sh|zip|alx|tiff|out)$");
                var maxSize = 10485760;

                function checkExtension(fileName, fileSize) {

                    if (fileSize >= maxSize) {
                        alert("파일 사이즈 초과");
                        return false;
                    }

                    if (regex.test(fileName)) {
                        alert("해당 종류의 파일은 업로드할 수 없습니다.");
                        return false;
                    }
                    return true;
                }


                // 이미지 업로드 결과 출력 (선택시 업로드 됨)
                function showResult(uploadResultArr){

                    var uploadUL = $(".uploadResult ul");

                    var str ="";
                    console.log("SHOW Thumbnail Image");
                    $(uploadResultArr).each(function(i, obj) {
                        // list 형태로 image + button 출력
                        // li 태크의 'data-'속성은 <form>이 submit될 때 <form>태크의 내용물로 만들어 전송하기위해 작성
                        str += "<li data-name='" + obj.fileName + "' data-path='"+obj.folderPath+"' data-uuid='"+obj.uuid+"'>";
                        str + " <div>";
                        str += "<button type='button' data-file=\'" + obj.imageURL + "\' "
                        str += "class='btn-warning btn-sm'>X</button><br>";
                        str += "<img src='/display?fileName=" + obj.thumbnailURL + "'>";
                        str += "</div>";
                        str + "</li>";
                    });

                    uploadUL.append(str);
                }

                $(".custom-file-input").on("change", function () {
                    var fileName = $(this).val().split("\\").pop(); // \\??
                    $(this).siblings(".custom-file-label").addClass("selected").html(fileName); //fileName적어줌

                    var formData = new FormData();

                    var inputFile = $(this);

                    var files = inputFile[0].files;

                    var appended = false;

                    for (var i = 0; i < files.length; i++) {
                        if (!checkExtension(files[i].name, files[i].size)) {
                            return false;
                        }
                        console.log(files[i]);

                        formData.append("uploadFiles", files[i]);
                        appended = true;
                    }

                    if (!appended) {
                        return ;
                    }

                    // upload할 파일 콘솔 출력
                    for (var value of formData.values()) {
                        console.log(value);
                    }

                    $.ajax({
                        url: '/uploadAjax', // 만들었던 uploadAjax 이
                        processData: false,
                        contentType: false, // multitype이므로
                        data: formData,
                        type: 'POST',
                        dataType:'json',
                        success: function(result){
                            console.log(result);
                            showResult(result); //결과 보여주는 함수 만들 것
                        },
                        error: function(jqXHR, textStatus, errorThrown){
                            console.log(textStatus);
                        }
                    });
                });

                $(".uploadResult ").on("click", "li button", function (e) {
                    console.log("delete file (IMAGE)");

                    var targetFile = $(this).data("file"); // 버튼 클릭 눌린 데이터
                    var targetLi = $(this).closest("li"); // 버튼 눌린 데이터에 가장 가까운 li를 가르키게 됨.

                    $.ajax({
                        url: '/removeFile',
                        data: {fileName: targetFile},
                        dataType: 'text',
                        type: 'POST',
                        success: function (result) {
                            alert("선택한 파일이 삭제되었습니다.");
                            targetLi.remove();
                        }
                    })
                });

                $(".btn-primary").on("click", function (e) {
                    e.preventDefault();

                    var str = "";

                    // 각각의 이미지에 대해 수행함.
                    $(".uploadResult li").each(function(i,obj){
                        var target = $(obj); // uploadResult -> li 태크 안에 있는 (값)

                        //위에서 설정했던 li 태크의 'data-'를 속성별로 뽑아내어 사용합니다. (imgName, path, uuid)
                        // 데이터 전송만을 위해 hidden으로 설정
                        str += "<input type='hidden' name='imageDTOList["+i+"].imgName' value='"+target.data('name') +"'>";

                        str += "<input type='hidden' name='imageDTOList["+i+"].path' value='"+target.data('path')+"'>";

                        str += "<input type='hidden' name='imageDTOList["+i+"].uuid' value='"+target.data('uuid')+"'>";

                    });

                    //태그들이 추가된 것을 확인한 후에 comment를 제거
                    $(".box").html(str);

                    $("form").submit();
                });
            });
        </script>
    </th:block>
</th:block>
</html>